// CONTAINER
$container-size: 1260px;

// COLORS
$color-black: #151515;
$color-black-light: #f5f5f5;
$color-green: #6a983c;
$color-green-dark: #46760A;
$color-green-light: #92c064;
$color-red: #e5704b;


// MEDIA BREAKPOINTS
$breakpoint-large: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 425px;
