/* BTN */

.btn {
  display: inline-flex;
  align-items: center;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;

  &:active {
    opacity: 0.7;
  }
}

// DISABLED

.btn--disabled,
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

// SIZE

.btn--small {
  padding: 6px 12px;
}

.btn--medium {
  padding: 12.5px 16px;
}

.btn--large {
  padding: 16.5px 48px;
}

// STYLE

.btn--grey {
  color: $color-black;
  background-color: $color-black-light;

  --btn-arrow: url("../../img/icon-arrow-right-black.svg");

  &:hover {
    background-color: #d1d1d1;
  }
}

.btn--stroke {
  color: $color-black;
  background-color: transparent;
  border: 2px solid $color-green-light;

  --btn-arrow: url("../../img/icon-arrow-right-green.svg");

  &:hover {
    color: #fff;
    background-color: $color-green-light;

    --btn-arrow: url("../../img/icon-arrow-right-white.svg");
  }
}

.btn--green {
  color: #fff;
  background-color: $color-green;
  border: 2px solid $color-green-dark;

  --btn-arrow: url("../../img/icon-arrow-right-white.svg");

  &:hover {
    background-color: $color-green-dark;
  }
}

// ARROW

.btn--arrow {
  &-right::after,
  &-left::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: var(--btn-arrow);

    @include bg-full;
  }

  &-right::after {
    margin-left: 6px;
  }

  &-left::before {
    margin-right: 6px;
  }
}
