/* SITE-HEADER__CATEGORIES */

.categories {
  padding: 16px 45px;
  background-color: #f9f9f9;
}

.categories__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 40px;

  @include list-reset;
}

.categories__item {
  position: relative;
}

.categories__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &::after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("/img/icon-arrow-down.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
  }

  &:hover {
    color: $color-green;
  }

  &:active {
    opacity: 0.7;
  }
}

.categories__close {
  display: none;
}

/* CATEGORIES__DROPDOWN */

.categories__dropdown {
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  min-width: 100%;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);

  @include list-reset;
}

.categories__item:hover .categories__dropdown {
  display: block;
}

.categories__item--open .categories__dropdown {
  display: block;
}

// MEDIA

@media screen and (max-width: 560px) {
  .categories {
    position: fixed;
    z-index: 99;
    background-color: #f9f9f9;
    width: 280px;
    height: 100vh;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateX(-105%);
    transition: transform 0.3s ease;
  }

  .categories__list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .carousel__item {
    width: 100%;
  }

  .categories__dropdown {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    z-index: initial;
    box-shadow: initial;
  }

  .categories__link:hover {
    color: inherit;
  }

  .categories__close {
    display: block;
    position: absolute;
    top: 42px;
    right: 20px;
    z-index: 100;
    padding: 0;
    background-color: transparent;
    border: none;

    &:active {
      opacity: 0.7;
    }
  }

  .categories--open {
    transform: initial;
  }
}

@media screen and (max-width: 500px) {
  .categories {
    padding-inline: 20px;
  }
}
