/* SITE-HEADER__CATEGORIES */

.categories {
  padding: 16px 45px;
  background-color: #f9f9f9;
}

.categories__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include list-reset;
}

.categories__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.categories__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &::after {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-image: url("/img/icon-arrow-down.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 2px;
  }

  &:hover {
    color: $color-green;
  }

  &:active {
    opacity: 0.7;
  }
}

/* CATEGORIES__DROPDOWN */

.categories__dropdown {
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;

  @include list-reset;
}

.categories__item:hover .categories__dropdown {
  display: block;
}
