/* FILTER */

.filter__section {
  &:not(:last-child) {
    margin-bottom: 48px;
  }
}

.filter__section--price {
  width: 250px;
}

.filter__list {
  @include list-reset;
}

.filter__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.filter__label {
  display: flex;
  align-items: center;
}

.filter__heading {
  margin-bottom: 16px;
}

.filter__checkbox {
  margin-right: 8px;
}

.filter__item-title {
  margin: 0;
}

.filter__link {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
    color: $color-green;
  }

  &:active {
    opacity: 0.7;
  }
}

.filter__btn {
  margin-right: 34px;
  padding: 10.5px 14px;
}

.filter__section--categories .filter__item {
  align-items: center;
  justify-content: space-between;
}

.filter__tag {
  padding: 0 8px;
  color: $color-green;
  background-color: #f4f8ec;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e3ebd4;
  }

  &:active {
    opacity: 0.7;
  }
}

.filter__range {
  width: 100%;
  height: 6px;
  margin-bottom: 16px;
  border-radius: 12px;
  background-color: #ebebeb;
}

.filter__range-inner {
  position: relative;
  width: 80px;
  height: 100%;
  margin-left: 50px;
  border-radius: 12px;
  background-color: $color-green;
}

.filter__range-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.filter__range-btn--left {
  left: -11px;
}

.filter__range-btn--right {
  right: -11px;
}

.filter__price {
  display: flex;
  align-items: center;
}

.filter__price-title {
  display: block;
}

.filter__price-item--max {
  order: 3;
}

.filter__price-input {
  width: 110px;
}

.filter__price {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 4px;
    height: 1px;
    margin: 0 14px;
    margin-top: 18px;
    background-color: #a9a9a9;
  }
}

// MEDIA

@media screen and (max-width: $breakpoint-large) {
  .filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    width: 100% !important;
    height: 100vh;
    background-color: transparent;
    transition: background-color .3s ease;
    pointer-events: none;
  }

  .filter::-webkit-scrollbar {
    display: none;
  }

  .filter--open {
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: initial;

    .filter__inner {
      transform: initial;
    }
  }

  .filter__inner {
    width: 40%;
    transform: translateX(-100%);
    padding: 20px 45px;
    background-color: #fff;
    transition: transform 0.4s ease;
  }
}
