/* FOOTER-NAV */

.footer-nav__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include list-reset;
}

.footer-nav__heading {
  margin-bottom: 16px;
}

.footer-nav__toggle {
  display: none;
}

.footer-nav__links-list {
  @include list-reset;
}

.footer-nav__links-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.footer-nav__links-link {
  display: inline-block;
  text-decoration: none;
  color: $color-green;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }
}

// MEDIA

@media screen and (max-width: $breakpoint-medium) {
  .footer-nav__list {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .footer-nav__item {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .footer-nav__list {
    row-gap: initial;
    border-top: 1px solid #575757;
  }

  .footer-nav__item {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #575757;
  }

  .footer-nav__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-nav__heading {
    margin-bottom: 0;
  }

  .footer-nav__toggle {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
    background-color: transparent;
    background-image: url("../../img/icon-arrow-down.svg");
    border: none;

    @include bg-full;

    &:active {
      opacity: 0.7;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .footer-nav__links {
    display: none;
  }

  // ACCORDION

  .footer-nav__item--open {
    .footer-nav__toggle {
      background-image: url("../../img/icon-arrow-top.svg");
    }

    .footer-nav__links {
      display: block;
      margin-top: 16px;
      padding-bottom: 10px;
    }
  }
}
