/* INDEX-ROW */

.index-row {
  display: flex;
  align-items: flex-start;
  padding: 64px 45px;
}

.index-row__aside {
  width: 270px;
  margin-right: 32px;
}

.index-row__heading {
  margin-bottom: 16px;
}

.index-row__content {
  flex-grow: 1;
}

// MEDIA

@media screen and (max-width: 1100px) {
  .index-products.index-row {
    flex-wrap: wrap;
  }

  .index-products .index-row__aside {
    flex-grow: 1;
    margin-right: initial;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 660px) {
  .index-row {
    flex-wrap: wrap;
  }

  .index-row__aside {
    flex-grow: 1;
    margin-right: initial;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .index-row {
    padding-inline: 20px;
  }
}