/* INDEX-PRODUCTS */

.index-products__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 32px;

  @include list-reset;
}

.index-products__item {
  width: calc((100% - 64px) / 3);
}

// MEDIA 

@media screen and (max-width: 850px) {
  .index-products__item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (max-width: 600px) {
  .index-products__item {
    width: auto;
    flex-grow: 1;
  }
}