/* PRODUCT */

.product {
  position: relative;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.product__cover {
  display: block;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.product__cover-img {
  width: 100%;
  height: 180px;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.product__info {
  margin-bottom: 16px;
}

.product__title {
  margin-bottom: 4px;
}

.product__description {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

.product__rating {
  position: relative;
  display: inline-flex;
  margin-top: 12px;
}

.product__rating-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  --star-width: calc(88px / 5 * var(--star-count));
  clip: rect(0 var(--star-width) var(--star-width) 0);
}

.product__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__badge {
  position: absolute;
  top: 28px;
  left: 28px;
  padding-inline: 8px;
  color: $color-green;
  background-color: #f4f8ec;
  border-radius: 12px;
}

.product__price-sale {
  text-decoration: line-through;
  color: #a9a9a9;
}

.product:not(.product--list) {
  .product__info-list,
  .product__actions-text,
  .product__actions-caption,
  .product__actions-details,
  .product__actions-wishlist {
    display: none;
  }
}

/* PRODUCT--lIST */

.product--list {
  display: flex;
  align-items: center;
  row-gap: 32px;
  padding: 0;
  padding-right: 32px;

  // INNER

  .product__cover {
    margin-right: 32px;
    margin-bottom: initial;
  }

  .product__cover-img {
    width: 268px;
    height: 280px;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  .product__info {
    margin-right: auto;
    margin-bottom: 0;
  }

  .product__title {
    font-size: 18px;
    line-height: 27px;
  }

  .product__badge {
    display: none;
  }

  .product__rating {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .product__info-list {
    @include list-reset;
  }

  .product__info-item {
    display: flex;
    column-gap: 32px;
    color: #a9a9a9;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .product__info-term,
  .product__info-desc {
    margin: 0;

    @include text-overflow;
  }

  .product__info-term {
    width: 74px;
  }

  .product__info-desc {
    width: 131px;
  }

  .product__info-desc-highlight {
    color: $color-green;
  }

  .product__actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .product__actions-caption {
    margin-top: 16px;
    color: #a9a9a9;
  }

  .product__actions-text {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 16px;
    color: #a9a9a9;
  }

  .product__actions-buy {
    display: none;
  }

  .product__actions-details {
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .product__actions-wishlist {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 8px;
      background-image: url("../../img/icon-heart.svg");

      @include bg-full;
    }
  }
}

// MEDIA

@media screen and (max-width: 1150px) and (min-width: 1025px) {
  .product:not(.product--list) {
    width: calc((100% - 32px) / 2);

    // INNNER

    .product__cover-img {
      height: 200px;
    }
  }
}

@media screen and (max-width: 1135px) and (min-width: 1025px) {
  .product--list {
    // INNER

    .product__cover {
      margin-right: 25px;
    }

    .product__cover-img {
      width: 210px;
      height: 250px;
    }
  }
}

@media screen and (max-width: 1060px) and (min-width: 1025px) {
  .product--list {
    padding-right: 25px;

    // INNER

    .product__description {
      width: 194px;

      @include text-overflow;
    }

    .product__info-item {
      column-gap: 20px;
    }

    .product__info-desc {
      width: 100px;
    }

    .product__actions-details {
      margin-left: initial;
    }

    .product__actions-wishlist {
      margin-left: initial;
    }
  }
}
