/* RECOMMENDATIONS */

.recommendations {
  padding: 64px 45px;
}

.recommendations__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.recommendations__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include list-reset;
}

.recommendations__item {
  width: calc((100% - 96px) / 4);
}

// MEDIA

@media screen and (max-width: 1050px) {
  .recommendations__item {
    width: calc((100% - 64px) / 3);
  }
}

@media screen and (max-width: 880px) {
  .recommendations__item {
    width: auto;
    flex-grow: 1;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .recommendations {
    padding-bottom: 35px;
  }
}

@media screen and  (max-width: $breakpoint-small) {
  .recommendations {
    padding-inline: 20px;
  }
}