/* SEARCH-FORM */

.search-form {
  margin-right: auto;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.search-form__categories {
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  border: none;
  appearance: none;
}
