.site-footer {
  padding: 64px 45px;
}

.site-footer__bottom {
  margin-bottom: 48px;
}

.site-footer__bottom-heading {
  margin-bottom: 16px;
}

.site-footer__footer-nav {
  margin-bottom: 48px;
}

.site-footer__copyright {
  margin: 0;
}

// MEDIA

@media screen and (max-width: 510px) {
  .site-footer__bottom {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .site-footer__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .site-footer {
    padding-inline: 20px;
  }
}