/* SITE-HEADER__TOP */

.site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 45px;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.site-header__top-item {
  text-decoration: none;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}

.site-header__top-item:not(:last-child) {
  margin-right: 33px;
}

.site-header__top-item--green {
  color: $color-green;
}

/* SITE-HEADER__INNER */

.site-header__inner {
  display: flex;
  align-items: center;
  padding: 40px 45px;
}

.site-header__actions-list {
  display: flex;
  column-gap: 40px;

  @include list-reset;
}

.site-header__actions-item {
  position: relative;
}

.site-header__actions-btn {
  display: flex;
  color: $color-black;
  transition: color 0.3s ease;

  &:hover {
    color: $color-green;
  }
}

.site-header__actions-btn img {
  max-width: none;
}

.site-header__actions-item--toggle {
  display: none;
}

.site-header__actions-indicator {
  position: absolute;
  left: -6px;
  bottom: -7px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background-color: #e6704b;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

/* MEDIA */

@media screen and (max-width: $breakpoint-medium) {
  .site-header__top {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .site-header__inner {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px) {
  .site-header {
    position: relative;
    z-index: 1;
  }
  
  .site-header__inner {
    padding-bottom: 10px;
  }

  .site-header__actions-item--toggle {
    display: block;
  }

  .site-header__actions-item--toggle .site-header__actions-btn {
    background: transparent;
    border: none;  

    &:active {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 500px) {
  .site-header__actions-list {
    column-gap: 20px;
  }

  .site-header__actions-btn svg {
    width: 20px;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .site-header__inner {
    padding-inline: 20px;
  }
}

