/* SITE-HEADER__TOP */

.site-header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 45px;
  border-bottom: 1px solid rgba(21, 21, 21, 0.05);
}

.site-header__top-item {
  text-decoration: none;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}

.site-header__top-item:not(:last-child) {
  margin-right: 33px;
}

.site-header__top-item--green {
  color: $color-green;
}

.sitenav__list {
  display: flex;
  align-items: center;
  @include list-reset
}

.sitenav__item {
  &:not(:last-child) {
    margin-right: 38px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.sitenav__link {
  text-decoration: none;
  color: $color-green;
  text-transform: capitalize;
}

/* MEDIA */

@media screen and (max-width: $breakpoint-medium) {
.site-header{
  display: none;
}
}